<!DOCTYPE html>
html(lang="en")
    include ./utils/header.pug
        title Error
    include ./utils/initial.pug
    br
    .container.px-auto
        .bg-light.p-5.rounded-3
            h1.display-4 Pagina no encontrada!
            p.lead Tal parece que la pagina que estas buscando no existe
            hr.my-4
            p Volver al inicio
            a.btn.btn-secondary.btn-lg(href="/") Inicio