body(style="background-image:url(/public/img/background.png)")
    nav.navbar.navbar-dark(style="background-color: #3E5641;font-family: 'Nerko One', cursive;")
        a.navbar-brand.mx-2 #[img.d-inline-block.align-top(src="/public/img/patito.png" width="30" height="30" alt="" loading="lazy")] Patitos